@font-face {
    font-family: Merriweather-Regular;
    src: url('/fonts/Merriweather-Regular.ttf');
}

@font-face {
    font-family: Roboto-Light;
    src: url('/fonts/Roboto-Light.ttf');
}

body, nav {
	background-color: white;
	font-family: Merriweather-Regular;
	font-size: 16px;
	font-weight: 300;
}

.navbar-light .navbar-toggler {
	color: rgba(0, 0, 0, 0);
	border-color: rgba(0, 0, 0, 0);
}

footer {
	color: #fff;
	background-color: #263238;
}

label {
	font-family: Merriweather-Regular;
	font-size: 16px;
	font-weight: 700;
	line-height: 20.11px;
}

.btn {
	font-size:16px;
	font-weight: 700;
	line-height: 20.11px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.btn-primary {
	background-color: #263238;
	color: #92E3A9;
}

#buttons:hover{
	background-color: #92E3A9;
	color: #263238;
}

#buyHomeworks {
	padding-left: 20vh;
	padding-right: 20vh;
}

#homework {
	font-size: 40px;
	font-weight: 900;
	line-height: 48.44px;
	padding-bottom: 3vh;
}

#richStudent {
	font-weight: 300;
	line-height: 18.75px;
	font-family: Roboto-Light;
	padding-bottom: 3vh;
}

.howItWorks {
	font-family: Roboto-Light;
	font-weight: 300;
	line-height: 18.75px;
}

#howItGoes {
	background-color: #92E3A9;
	padding-top: 10vh;
	padding-bottom: 10vh;
}

#boldness {
	font-weight: 700;
	font-size: 29px;
	line-height: 35.12px; 
}

#mail {
	padding-top: 10vh;
	padding-bottom: 10vh;
}

#boldColumn {
	padding-right: 10vh;
}

#sendUsEmail {
	padding-right:15vh;
}

.footer-img {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 30px;
}

#footerText {
	font-weight: 300;
	font-size: 15px;
	line-height: 18.16px;
}

.paidWork {
	background-color: #92E3A9;
	font-weight: 700;
	margin-left: 30px;
}

#paidWork:hover {
	color: #92E3A9;
	background-color: #263238;
}

#closeModal:hover {
	cursor: pointer;
}

.title {
	color: #263238;
	font-family: Roboto-Light;
	font-weight: 700;
	line-height: 18.75px;
	margin: 0;
	padding: 0;
}

.subject {
	color: #92E3A9;
	font-family: Roboto-Light;
	font-weight: 700;
	line-height: 18.75px;
	padding: 0;
}

#subject {
	font-family: Roboto-Light;
	font-weight: 700;
	font-size: 16px;
	line-height: 18.75px;
	color: #A8A8A8;
}

#projectTitle {
	font-family: Roboto-Light;
	font-weight: 700;
	font-size: 16px;
	line-height: 18.75px;
	color: #A8A8A8;
}

.upload {
	margin-bottom: 2vh;
}

#complaintsTillNow {
	background-color: #92E3A9;
	font-weight: 700;
	font-size: 16px;
	line-height: 20.11px;
	padding: 1.1rem;
}

#print {
	padding-left: 0px;
	padding-right: 0px;
}

#complaintsArea {
	padding-top: 2vh;
	padding-left: 1.1rem;
	padding-bottom: 2vh;
}

.custom-select {
    background-image: url("/images/arrow.png");
}

@media (max-width: 1199px){
	#homework {
		font-size: 28px;
	}

	#buyHomeworks {
		padding:5vh;
		padding-top: 7vh;
	}

	#studyingGirl {
		padding-bottom: 10vh;
	}

	.howItWorks {
		margin-bottom: 7vh;
	}

	#howItGoes {
		padding-bottom: 5vh;
	}

	#mail {
		padding-left: 7vh;
		padding-right: 7vh;
	}

	#boldColumn, #sendUsEmail {
		padding: 0;
	}

	.paidWork {
		margin-top: 2vh;
		margin-left: 0;
	}

	.center-button {
		left: 50%;
		position: relative;
		transform: translateX(-50%);
	}

	#navList {
		padding-top: 4vh;
	}
}